<div class="choose-task">
<input type="text" placeholder="Task Name" [(ngModel)]="inputValue">
<select [(ngModel)]="selectedValue">
  <option *ngFor="let c of difficulty" [ngValue]="c">{{c}}</option>
</select>
<button (click)="addTask(inputValue,selectedValue)">Add</button>
</div>

<div class="add-tasks">
  <div class="task-div">
    <div class="title">To-Do</div>
    <div *ngIf="toDoTask.length == 0" style="text-align: center;">
      <h3> List is empty</h3>
    </div>
    <div class="forTasks" *ngFor="let task of toDoTask, let i = index">
      <div class="wraper">
        <div class="name-buttons">
          <div>
            <span>{{i+1}}. </span>
            <span>{{task.name}}</span>
          </div>
          <div>
            <button (click)="addGoToProgressTask(task.name,task.difficulty,i)">></button>
            <button class="removeBtn" (click)="removeItemFromToDo(i)">X</button>
          </div>
        </div>
        <div [ngClass]="getClassOfdif(task.difficulty)">
          {{task.difficulty}}
        </div>

      </div>
    </div>
  </div>
  <div class="task-div">
    <div class="title">In Progress</div>
    <div *ngIf="goToProgress.length == 0" style="text-align: center;">
      <h3> List is empty</h3>
    </div>
    <div class="forTasks" *ngFor="let task of goToProgress, let i = index">
      <div class="wraper">
        <div class="name-buttons">
          <div>
            <span>{{i+1}}. </span>
            <span>{{task.name}}</span>
          </div>
          <div>
            <button class="progressto-todo" (click)="progToToDo(task.name,task.difficulty,i)"><</button>
            <button class="progressto-done" (click)="progToDone(task.name,task.difficulty,i)">></button>
          </div>
        </div>
        <div [ngClass]="getClassOfdif(task.difficulty)">
          {{task.difficulty}}
        </div>
      </div>
    </div>
  </div>
  <div class="task-div">
    <div class="title">Done</div>
    <div *ngIf="doneTask.length == 0" style="text-align: center;">
      <h3> List is empty</h3>
    </div>
    <div class="forTasks" *ngFor="let task of doneTask, let i = index">
      <div class="wraper">
        <div class="name-buttons">
          <div>
            <span>{{i+1}}. </span>
            <span>{{task.name}}</span>
          </div>
          <div>
            <button class="progressto-todo" (click)="doneToProgress(task.name,task.difficulty,i)"><</button>
          </div>
        </div>
        <div [ngClass]="getClassOfdif(task.difficulty)">
          {{task.difficulty}}
        </div>
      </div>
    </div>
  </div>
</div>

